/* this is my CSS file for the organizations page, where I changed the color of the background to light blue and the color of the font to dark blue. */
/* Here I set the background color of the entire page to be light blue */
body {
  background-color: #c7e2fe; 
  margin: 0;
  padding: 0;
}

/* Here I set the 'Classrooms' header font color to be dark blue */
.organizations-header {
  color: #042c54;
}

/* Here I set the font color of the data from the JSON file to be the same dark blue */
.box {
  color: #042c54; 
}

