@import '../../../assets/style.less';

//custom css file for teacher profile to be used when necessary

.profile_picture_styling{
    border-radius: 50%;
    max-height: 150px;
    float: left;
    margin-left: 3rem;
    margin-top: 1rem;
}